html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #21759b;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn-primary{
  background-color:#21759b;
  border-color: #21759b;
}
.text-primary{
  color: #21759b;
}
.btn:focus{
  outline:none !important;
}
.btn:active{
  outline: none !important;
}
.container{
  padding-top: 16px;
}
code{
color:black;  
}
/* tab fix */
.tab-content {
  display: flex;
}
.btn-light-active{
  background-color: #e2e6ea;
}

.tab-content > .tab-pane {
  display: block; /* undo "display: none;" */
  visibility: hidden;
  margin-right: -100%;
  width: 100%;
}

.tab-content > .active {
  visibility: visible;
}

.styleBold{
  font-weight: bold !important;
}
.styleItalic{
  font-style: italic !important;
}
.styleUnderline{
  text-decoration: underline !important;
}
.styleStrikethrough{
  text-decoration: line-through !important;
}
.styleUnderlineStrikethrough{
  text-decoration: underline line-through !important;
}
.carouselContainer{
  padding:8px 16vw ;
}
.carousel-item{
  text-align: center !important;
}