html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #21759b;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn-primary{
  background-color:#21759b;
  border-color: #21759b;
}
.text-primary{
  color: #21759b;
}
.btn:focus{
  outline:none;
  box-shadow: none;
}
.container{
  padding-top: 16px;
}
code{
color:black;  
}
